/*
Skateview stylesheet
by Kirk Morris
saricden.com
*/

/* Base styles
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #000;
}
nav {
  float: right;
}
nav a {
  display: block;
  float: left;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
}
h1, h2, h3 ,h4, h5, h6 {
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 100;
  line-height: 1em;
}
h1 {
  font-size: 50px;
}


/* Layout stuff
------------------------------------- */
.fullpanel:after, .centerpanel:after, .logo:after {
  display: block;
  content: "";
  clear: both;
}
.centerpanel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.bgfill {
  z-index: 1
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.col { float: left; }
.two { width: 16%; }
.three { width: 25%; }
.four { width: 33%; }
.five { width: 41%; }
.six { width: 50%; }
.seven { width: 58%; }
.eight { width: 66%; }
.nine { width: 75%; }
.ten { width: 83%; }
.eleven { width: 91%; }

/* Common elements
------------------------------------- */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
}

/* Homepage variants
------------------------------------- */
.homepage_var {
  position: absolute;
  z-index: 2;
  color: #FFF;
}
.logo.homepage_var {
  position: absolute;
  top: 20px;
  left: 40px;
}
nav.homepage_var {
  top: 20px;
  right: 0;
}
nav.homepage_var a {
  float: right;
  clear: both;
  margin-top: 10px;
  padding: 12px 18px 12px 50px;
  color: #000;
  background-color: #FFF;
  font-weight: bold;
  text-decoration: none;
}
.col.homepage_var {
  top: 200px;
  left: 40px;
}