/*
Skateview stylesheet
by Kirk Morris
saricden.com
*/

/* Base styles
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #BBB;
}
body {
  overflow-x: hidden;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
}
nav a {
  display: block;
  float: left;
  line-height: 90px;
  padding: 0 15px;
  color: #FFF;
}
nav a:hover {
  color: #000;
  background-color: #FFF;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 23px;
}
h1, h2, h3 ,h4, h5, h6 {
  margin-bottom: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 100;
  line-height: 1em;
}
h1 {
  font-size: 74px;
}

/* Layout stuff
------------------------------------- */
.fullpanel:after, .centerpanel:after, .logo:after, footer:after, .content_var:after {
  display: block;
  content: "";
  clear: both;
}
.centerpanel {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.bgfill {
  z-index: 1
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.col, .vid_thumb {
  display: block;
  float: left;
}
.revfl { float: right; }
.two { width: 16%; }
.three { width: 25%; }
.four { width: 33%; }
.five { width: 41%; }
.six, .vid_thumb { width: 50%; }
.seven { width: 58%; }
.eight { width: 66%; }
.nine { width: 75%; }
.ten { width: 83%; }
.eleven { width: 91%; }

/* Common elements
------------------------------------- */
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  float: left;
  width: 70px;
  height: 70px;
  margin-top: 10px;
}
.floating_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 20px;
}
.floating_nav.scrolled {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}
.floating_nav.scrolled .logo img {
  width: 60px;
  height: 60px;
}
.btn {
  display: inline-block;
  padding: 20px 30px;
  color: #FFF;
  background-color: #FF4081;
  border-radius: 5px;
  text-decoration: none;
}
.full {
  width: 100%;
  padding: 30px;
  font-size: 18px;
  text-align: center;
}
.infolink {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blkimg {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.flag-icon {
  box-sizing: content-box;
  margin-right: 10px;
  border: solid 2px #FFF;
  border-radius: 2px;
}
svg {
  margin-right: 5px;
  vertical-align: middle;
}
nav.scrolled a, .nav-btn.scrolled {
  line-height: 80px;
}
@media only screen and (max-width: 630px) {
  nav.scrolled a {
    line-height: normal;
  }
}

/* General variants
------------------------------------- */
.smaller_heading {
  font-size: 50px;
}
.blk {
  display: block;
  width: 95%;
  margin-top: 7px;
}
.textleft { text-align: left; }
.textright { text-align: right; }
.c_var {
  color: #FFF;
  text-decoration: none;
}
.author_var { line-height: 50px; }

/* Homepage variants
------------------------------------- */
.homepage_var {
  position: absolute;
  z-index: 2;
  color: #FFF;
}
.logo.homepage_var {
  position: absolute;
  top: 20px;
  left: 40px;
}
.logo.homepage_var img {
  width: 80px;
  height: 80px;
}
nav.homepage_var {
  top: 20px;
  right: 0;
}
nav.homepage_var a {
  float: right;
  clear: both;
  line-height: normal;
  margin-top: 10px;
  padding: 12px 18px 12px 50px;
  color: #000;
  background-color: #FFF;
  font-weight: bold;
  text-decoration: none;
}
.col.homepage_var {
  top: 200px;
  left: 40px;
}
.mobile-menu {
  display: none;
}
.mobile-menu.open {
  opacity: 0;
  visibility: hidden;
}
.navclose {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .col.homepage_var {
    width: 66%;
  }
}

@media only screen and (max-width: 675px) {
  .col.homepage_var {
    position: absolute;
    top: initial;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 50px 25px 50px;
    text-align: center;
  }
  .smaller_heading { font-size: 30px; }
  .mobile-menu {
    z-index: 2;
    display: block;
    position: absolute;
    top: 47px;
    right: 40px;
    padding: 5px;
    border: solid 2px #FFF;
    border-radius: 3px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
  }
  nav.homepage_var {
    top: 0;
    right: -142px;
    width: 142px;
    background-color: #FFF;
  }
  nav.homepage_var.open {
    right: 0;
  }
  nav.homepage_var a {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .navclose.home {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .logo.homepage_var { left: 20px; }
  .mobile-menu { right: 20px; }
  .col.homepage_var { padding: 0 20px 25px 20px; }
  .sm-none { display: none; }
}

/* Gallery page variants
------------------------------------- */
.photo_bg {
  margin-bottom: 40px;
  padding-top: 130px;
  padding-bottom: 70px;
  color: #FFF;
  background-size: cover;
}
.location_line {
  margin-left: 6px;
  font-size: 20px;
}
.content_var {
  padding: 20px;
  border-radius: 5px;
  background-color: #FFF;
}
.gallery_sphere {
  display: block;
  float: left;
  width: 49%;
  height: 0;
  margin-bottom: 10px;
  padding: 24% 0;
  border: solid 2px #000;
  border-radius: 50%;
  color: #000;
  text-align: center;
}
.gallery_sphere:nth-child(even) {
  margin-left: 1%;
}
.sidebar_var {
  padding-left: 40px;
}
.sidepanel {
  margin-top: 40px;
}
.sidepanel:nth-of-type(1) {
  margin-top: 0;
}
.sidehead {
  font-size: 18px;
  font-weight: bold; /* conflicting w/ banner */
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #333;
}
footer.page_var {
  margin-top: 40px;
  padding: 30px 20px;
  color: #FFF;
  background-color: #000;
}
.nav-btn {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .col.content_var, .col.sidebar_var {
    float: none;
    clear: both;
    width: 100%;
  }
  .col.sidebar_var {
    margin-bottom: 40px;
    padding: 0;
  }
  .sidehead { cursor: pointer; }
  .sidehead:hover { background-color: #EEE; }
  .sidepanel {
    max-height: 33px;
    margin-top: 10px;
    overflow: hidden;
  }
  .sidepanel.open { max-height: 1000px; }
  .vid_thumb { width: 25%; }
}

@media only screen and (max-width: 630px) {
  h1 {
    font-size: 36px;
  }
  .vid_thumb { width: 33%; }
  .nav-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    line-height: 90px;
    color: #FFF;
    font-size: 32px;
  }
  nav {
    width: 142px;
    right: -142px;
  }
  nav.open {
    right: 0;
  }
  nav a {
    display: block;
    width: 100%;
    float: right;
    clear: both;
    line-height: normal;
    padding: 10px;
    color: #000;
    background-color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  .navclose.gallery {
    display: block;
    cursor: pointer;
  }
  footer.page_var .col {
    width: 100%;
    float: none;
    clear: both;
    text-align: center;
    line-height: normal;
  }
}

@media only screen and (max-width: 400px) {
  .vid_thumb { width: 50%; }
}

/* Tour variants
------------------------------------- */
.tour {
  display: block;
  width: 100%;
  height: 100%;
  border-style: none;
}

/* Animations
------------------------------------- */
nav a, .nav-btn {
  transition: color 0.4s, background-color 0.4s, line-height 0.7s;
}
.floating_nav {
  transition: background-color 0.7s, height 0.7s;
}
.logo img {
  transition: width 0.7s, height 0.7s;
}
.gallery_sphere {
  transition: background-color 0.4s;
}
.mobile-menu {
  transition: visibility 0.2s, opacity 0.2s;
}
nav {
  transition: right 0.5s;
}
.sidepanel {
  transition: max-height 0.5s;
}